.starwars {
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.starwars-header {
  background-image: url("./images/header.png"), url("./images/header-bg-2x.png");
  display: flex;
  justify-content: center;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1024px;
}
.bg-light {
  display: block;
  background-color: transparent !important;
}
a.nav-link {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-toggler-icon {
  background-image: url(./images/menu.png) !important;
}
.starwars-main {
  max-width: 1024px;
}
.starwars-main-main {
  display: flex;
  justify-content: space-around;
  margin: 6rem 2rem 6rem 6rem;
}
.starwars-main-main-left-title {
  text-align: left;
  margin-bottom: 1rem;
}
h3 {
  font-size: 18px;
  font-weight: bold;
}
p.starwars-main-mainthree-text-para {
  font-size: 14px;
  font-weight: 400;
}
.starwars-main-maintwo {
  background-image: url("./images/kiloren-2x.jpg");
  height: 500px;
  display: flex;
  max-width: 1024px;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed;*/
}
.starwars-main-mainthree {
  display: flex;
  max-width: 1024px;
  margin: 2rem 5rem 1rem 3rem;
}
.starwars-main-mainthree-title {
  text-align: center;
  margin-bottom: 2rem;
}
h2 {
  font-weight: bold;
}

.starwars-main-mainfour {
  display: flex;
  max-width: 1024px;
  margin: 1rem 5rem 2rem 3rem;
}
.starwars-main-mainfive {
  display: flex;
  max-width: 1024px;
}
.starwars-footer {
  background-image: url(./images/darthvader_2x.jpg);
  max-width: 1024px;
  height: 272px;
  margin: 0rem -1rem;
}
.starwars-footer-title {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}
.starwars-footer-main {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0rem 1rem 0rem;
}
.starwars-footer-main-para {
  font-size: 14px;
  color: #9b9b9b;
}
/* Animation */
/*.starwars-header {
  opacity: 0;
  transition: all 0.4s linear;
}
.fade-in {
  opacity: 1;*/
}

@media screen and (max-width: 768px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .starwars-header {
    background-image: url(./images/header.png);
    justify-content: flex-start;
  }
  .starwars-main-main-left-title {
    text-align: center;
  }
  .starwars-main-main {
    margin: 2rem 4rem 6rem 4rem;
  }

  .starwars-main-main-right {
    display: none;
  }
  .starwars-main-mainfour {
    display: none;
  }
  .starwars-main-main-left-text {
    text-align: center;
  }
  .starwars-main-mainthree {
    margin: 2rem 5rem 0rem 3rem;
  }
  .starwars-main-mainthree-text {
    margin-top: 2rem;
  }
  p.starwars-main-mainthree-text-para {
    margin-bottom: 0;
  }
  .starwars-footer-main {
    margin: 0rem 0rem 1rem 0rem;
    padding-top: 3rem;
  }
  .starwars-footer-title {
    display: none;
  }
  .starwars-footer {
    background-image: url(./images/darthvader.jpg);
    background-position: center;
  }
  .starwars-footer-main-right {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
  }
}
